################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Light Server Front-End/DAL/bin/Debug/netcoreapp3.0
