<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content>
    <form class="example-form">
        <mat-form-field appearance="legacy" style="width:100%;">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="data.username" name="username">
        </mat-form-field>

        <mat-form-field appearance="legacy" style="width:100%;">
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="data.password" name="password">
        </mat-form-field>

        <mat-form-field appearance="legacy" style="width:100%;">
            <mat-label>Server</mat-label>
            <mat-select [(ngModel)]="data.server" name="server">
              <mat-option value="All">All servers</mat-option>
              <mat-option *ngFor="let ldlServer of ldlServers" [value]="ldlServer.ip">{{ldlServer.name}} ({{ldlServer.ip}} running {{ldlServer.server}})</mat-option>
            </mat-select>
            <mat-hint *ngIf="findingServers">Finding servers...</mat-hint>
          <mat-hint *ngIf="noServersFound">Error: no servers found.  Are they on and connected to the Wifi?</mat-hint>
          </mat-form-field>        
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data">Close</button>
</mat-dialog-actions>
