<div>Add before:</div>
<app-ldl-instruction-chooser (onAddInstruction)="addInstructionBefore($event)"></app-ldl-instruction-chooser>
<mat-card>
  <mat-card-header>
    <mat-card-title>Instruction: {{name}}</mat-card-title>
    <mat-card-subtitle>{{description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-ldl-duration *ngIf="showDuration" #duration [duration]="1" (onChangeDuration)="changeDuration($event)"></app-ldl-duration>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="showPreviewButton" mat-button (click)="previewInstruction()">Preview</button>
    <button *ngIf="showRemoveButton" mat-button (click)="removeInstruction()">Remove</button>
  </mat-card-actions>
</mat-card>
<div>Add after:</div>
<app-ldl-instruction-chooser (onAddInstruction)="addInstructionAfter($event)"></app-ldl-instruction-chooser>
